<div class="home mx-5 my-5">
    <div class="form">
        <div class="border-4 border-sky-500 px-4 py-4">
            <div [froalaView]="innerContent"></div>
        </div>
    </div>
</div>
<div class="container">  
    <div class="flex flex-row flex-wrap">
        <div *ngFor="let  content of contents;let i = index" class="  p-6 text-white border border-gray-200 rounded-lg shadow  bg-gray-800  mx-5 my-5">  
            <p class="mb-3 font-normal">{{content.content}}</p>  
            <button (click)="renderContent(i)" class="   bg-blue-500     py-2 px-4 border border-blue-500  border-transparent rounded">view</button>
        </div>  
    </div> 
</div>