.main{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 3rem auto;
}
.form-control{
    background-color: #646a70;
    padding: 1rem;
    color: white;
    margin: 1rem;
}
 
 